#blog 
{
    padding-top: 0;
}

.item-blog img 
{
    max-width: 100%;
}

.item-blog h5 
{
    color: #283a53;
    font-size: 2em;
    font-weight: 700;
    line-height: 1.2em;
}

.item-blog time 
{
    color: #929fa5;
    display: block;
    font-size: 1.4em;
    line-height: 1.2em;
    padding: .5em 0;
}

.item-blog .ler-mais
{
    color: #111;
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1em;
    margin: 0;
    padding: 0;
}